  
 
h1{
  font-family: "playwrite AU QLD"; cursive
  font-size: 30px;
  text-align: center;
  color: #09139e;
  text-shadow: 2px 2px #000; 
}
        
h2{
      font-family: "Playwrite AU QLD", cursive;
      font-size: 30px;
      text-align: center;
      color: rgb(9, 19, 158);
      text-shadow: 2px 2px hsl(0, 0%, 0%);
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    
    body{background-color: #ff00ff;}    

    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: red;
      color: white;
      text-align: center;
      padding: 14px 16px;
      font-size: 20px;
      
    }
    
    /*formulario*/
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    form {
      border-radius: 5px;
      background-color: #ccc8c8;
      padding: 20px;
      width: 100%;
    }
    
    /*Boton*/
    button {
      border: none; 
      border-radius: 4px;
      color: white; 
      padding: 14px 28px; 
      cursor: pointer; 
    }
    
    button {background-color: #4CAF50;} /* Green */
    button:hover {background-color: #46a049;}
    
    /*Video de Youtube*/
    iframe{
      border-radius: 4px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    
    article{
      text-align: center;
    }
    
    p{
      margin-bottom: 20px ;
    }

    body{background-color: fuchsia;}